<div class="home-page">
  <div class="home-container">
    <div class="home-block" fxLayout="column" fxLayoutAlign="center center">
      <div class="home-title">{{ "question_one" | translate }}</div>
      <div
        class="block-card"
        fxLayout="row"
        fxLayoutAlign="space-around center"
      >
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <div class="home-card" fxLayoutAlign="center center">
            <img
              class="home-icon"
              src="../../../../assets/images/home/icon-students.png"
              alt="students"
            />
          </div>
          <div class="home-card-title">
            {{ "students" | translate | uppercase }}
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <div class="home-card" fxLayoutAlign="center center">
            <img
              class="home-icon"
              src="../../../../assets/images/home/icon-shools.png"
              alt="schools"
            />
          </div>
          <div class="home-card-title">
            {{ "schools" | translate | uppercase }}
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <div class="home-card" fxLayoutAlign="center center">
            <img
              class="home-icon"
              src="../../../../assets/images/home/icon-business.png"
              alt="bussiness"
            />
          </div>
          <div class="home-card-title">
            {{ "enterprises" | translate | uppercase }}
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <div class="home-card" fxLayoutAlign="center center">
            <img
              class="home-icon"
              src="../../../../assets/images/home/icon-question.png"
              alt="question"
            />
          </div>
          <div class="home-card-title">
            {{ "others" | translate | uppercase }}
          </div>
        </div>
      </div>
    </div>
  </div>




  <div
    class="home-pallet"
    fxLayout="column"
    fxLayoutAlign="space-around center"
  >
    <div
      class="bloc-pallet"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <img
        class="img-card"
        fxFlex="50"
        src="../../../../assets/images/home/Scholarships.png"
        alt="question"
      />
      <div class="text-card" fxLayout="column" fxLayoutAlign="center start">
        <p class="title">Building the future</p>
        <p class="content">
          Digital technology is revolutionizing education. Learning will no
          longer be the same as before. From college to vocational training,
          educational paradigms are changing... see more
        </p>
      </div>
    </div>
    <div
      class="bloc-pallet"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <div class="text-card" fxLayout="column" fxFlex="50" fxLayoutAlign="center start">
        <p class="title">Be part of the adventure</p>
        <p class="content">
          Everyone deserves an equal opportunity to write their future
        </p>
      </div>
      <img
      fxFlex="50"
        class="img-card"
        src="../../../../assets/images/home/Scholarships1.png"
        alt="question"
      />
    </div>
  </div>
  <div class="container" fxLayoutAlign="center center">
    <app-video></app-video>
  </div>

</div>
