.home-container {
  background-image: url("../../../../assets/images/home/home.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.home-title {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: white;
  margin-bottom: 60px;
}

.home-block {
  height: 100%;
}

.block-card {
  max-width: 900px;
  width: 100%;
}

.home-card {
  width: 160px;
  height: 140px;
  background-color: black;
  border-radius: 5%;

  .home-icon {
    width: 50%;
  }
}

.home-card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
  color: white;
  margin-bottom: 60px;
}

.home-pallet {
  max-width: 900px;
  width: 100%;
  margin: auto;
  margin-top: 100px;

  .bloc-pallet {
    width: 100%;
  }

  .img-card-first {
    height: 600px;
    background-image: url('../../../../assets/images/home/Scholarships.png');
    background-size: cover ;
    background-repeat: no-repeat;
  }

  .img-card-second {
    height: 600px;
    background-image: url('../../../../assets/images/home/Scholarships1.png');
    background-size: cover ;
    background-repeat: no-repeat;
  }

  .text-card {
    background-color: #efefef;
    height: 600px;
    width: 50%;
    padding: 20px;

    .title {
      font-size: 28px;
    }

    .content{
      font-size: 20px;
    }
  }
}

.container {
  width: 100%;
  margin-top: 60px;
  padding: auto;
}
