.menu-spacer {
  flex: 1 1 auto;
}

.toolbar-spec {
  background: transparent;
}

.main-content {
  height: 100vh;
}

.logo {
  width: 100px;
  height: auto;
}

.toolbar {
  height: 100px;
}

.language-selector{
  width: 100px;
}
