<div class="main-content">
  <mat-toolbar
    class="toolbar"
    color="primary"
    fxLayoutAlign="space-around center"
  >
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div>
        <img
          class="logo"
          src="../../../../assets/images/logos/tekki-logo1.png"
          alt="Tekki_logo"
        />
      </div>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md fxLayoutAlign="space-around center">
        <mat-form-field class="language-selector">
          <mat-label>{{ "language" | translate }}</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let lang of langs"
              [value]="lang.value"
              (click)="useLanguage(lang.value)"
            >
              {{ lang.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <a class="signin-btn" href="#" mat-button>{{ 'sign_in' | translate | titlecase }}</a>
        <button class="register" mat-flat-button >{{ 'register' | translate | titlecase }}</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>Menu Item 1</a>
        <a href="#" mat-list-item>Menu Item 2</a>
        <a href="#" mat-list-item>Menu Item 3</a>
        <a href="#" mat-list-item>Menu Item 4</a>
        <a href="#" mat-list-item>Menu Item 5</a>
        <a href="#" mat-list-item>Menu Item 6</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <app-home></app-home>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
